<li class="activitystream__item--small">
    <ul class="activitystream__count--small">
        <li class="activitystream__counts--small">
            <i class="activitystream__counts__favorite__icon--small" ></i>2
            <i class="activitystream__counts__comment__icon--small" ></i>2
        </li>
    </ul>
    <img src="http://distilleryimage10.ak.instagram.com/6067c9bc6d9b11e39bdf12ba5ffb7142_8.jpg" class="activitystream__image--small" />
    <div class="activitystream__meta--small">
        <a href="#">Feffy Le Pew</a> favorited the photo <a href="#">Merry Xmas shitter's full</a> by <a href="#">Clark Griswold.</a>
    </div>
</li>


