$badge-width: 1.3em;

.activitycaption {
    border-top: $border-default;
    position: relative;
    padding: 1em;

    &:before {
        width: 0;
        height: 0;
        border-left: .5em solid transparent;
        border-right: .5em solid transparent;
        border-bottom: .5em solid $color-epsilon;
        content: "";
        position: absolute;
        top: -.5em;
        left: 10%;
    }

    @include e(badge) {
        position: absolute;
        width: $badge-width;
        height: $badge-width * 1.32;
        background-image: url("../../images/badges/FAVORITED.png");
        background-size: 100% 100%;

        &.FOLLOWED{
            background-image: url("../../images/badges/FOLLOWED.png");
            height: $badge-width * 0.925;
        }

        &.DONATED{
            background-image: url("../../images/badges/DONATED.png");
            height: $badge-width * 1.32;
        }
    }

    @include e(text) {
        padding-left: $badge-width*1.5;
    }

    @include e(date) {
        display: block;
    }

    @include e(timeicon) {
        margin-right: .25em;
    }
}
