.activitystream {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-width: 250px;

    @include e(item) {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding: 0 .25em;

        @for $i from 2 to 10 {
            @media screen and (min-width: $i * 15em) {
                width: percentage(1 / $i);
            }
        }
    }
}
