// Colors

$dark-grey: hsl(0, 0, 10%);
$medium-grey: hsl(0, 0, 50%);
$light-grey: hsl(0, 0, 75%);
$very-light-grey: hsl(0, 0, 90%);
$blue: hsl(200, 100%, 35%);

// Abstracted

$color-alpha: $medium-grey;
$color-beta: $blue;
$color-phi: $light-grey;
$color-delta: $very-light-grey;
$color-epsilon: white;
$color-zeta: $dark-grey;
$color-zeta-transparent: transparentize($dark-grey, .2);

