// ============
// Font Imports
// ============

// DIN Import

@font-face {
  font-family: 'DIN';
  src: font-url('DINWeb-Bold.eot');
  src: font-url('DINWeb-Bold.eot') format('embedded-opentype'), font-url('DINWeb-Bold.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
}
