/*body {
    background: #fafafa;
}
*/
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

/* CSS for activity streams */
.activitystream {
    font: normal 13px/18px Arial, Helvetica, sans-serif;
    padding: 10px;
}

.activitystream__list {
    list-style: none;
    background: rgba(0,0,0,0.05);
    border: 1px solid #cfcfcf;
    display: block;
}

.activitystream__image--small {
    width: 240px;
    height: 240px;
    margin: 0;
    padding: 0;
    border: 1px solid #cfcfcf;
}

.activitystream__image--large {
    width: 740px;
    height: 740px;
    margin: 0;
    padding: 0;
    border: 5px dashed #cfcfcf;
}

.activitystream__item {
    float: left;
    border: 1px solid #cfcfcf;   
    margin: 20px 0px 5px 10px;
    background-color: #fff;
    padding: 0;
}

.activitystream__count {
    list-style: none outside;
    padding: 0;
    position: relative;
}

.activitystream__counts {
    border: 0;
    background: url("http://yourshot.nationalgeographic.com/static/img/blk-bg-60-opacity.png") repeat;
    color: #fff;
    position: absolute;
    top: 8px;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right: 7px;
    padding-top: 6px;
    padding-left: 6px;
    margin-left: 7px;
}

.activitystream__counts__favorite__icon {
    background: url("http://yourshot.nationalgeographic.com/static/img/icons/photo-icons.png") no-repeat -18px 0;
    width: 16px;
    height: 14px;
    float: left;
}

.activitystream__badge__image {
    width: 32px;
    height: auto;
    border: 1px solid red;

}
.activitystream__clock {
    width: 10px;
    height: 10px;
    background-color: red;
    display: block;
    float: left;
    

}
.activitystream__counts__comment__icon {
    background: url("http://yourshot.nationalgeographic.com/static/img/icons/photo-icons.png") no-repeat -36px 0;
    width: 16px;
    height: 14px;
    float: left;
}

.activitystream__counts__favorite__count {
    float: left;
    line-height: 1.5;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

.activitystream__counts__comment__count {
    float: left;
    line-height: 1.5;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

.activitystream__meta {
    display: block;
    position: relative;
    color: #808080;
    text-align: left;
    vertical-align: baseline;
    width: 222px;
    padding: 0 0px 10px 10px;
    margin: 0;
    border: 0;
    height: 100px;
}

.activitystream__meta a:link {
    color: #0078B0;
}

.activitystream__meta:before {
    bottom: 105%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(199,199,199,0);
    border-bottom-color: #c7c7c7;
    border-width: 11px;
    left: 13%;
    margin-left: -11px;
}

.activitystream__meta:after {
    bottom: 105%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255,255,255,0);
    border-bottom-color: #fff;
    border-width: 10px;
    left: 13%;
    margin-left: -10px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
